{% extends "base.html" %}

{% block title %}
    Path to books, Path to happy
{% endblock %}

{% block content %}
        <div class="center_allign">
        <div class="card">
            <div class="alert alert-primary" role="alert">
                글을 씁니다.
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    <label for="id_text"></label>
                    <textarea class="form-control" name="text" cols="40" rows="10" id="id_text"></textarea>
                </p>
                    <!--<input type="file" name="image" accept="image/*" required="" id="id_image">-->
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" accept="image/*" required="" id="id_image">
                    <label class="custom-file-label" for="inputGroupFile01">사진을 선택해주세요.</label>
                </div>

                <div id="upload_btn_p"><input type="submit" value="Upload" class="btn btn-primary" id="upload_btn"></div>
            </form>
        </div>
        </div>
        <style>
        .center_allign{
            margin: 0 auto;
            width: 500px;
        }
        .custom-file-label{
            width:498px;
        }
        #upload_btn_p{
            margin: 0 auto;
            display : block;
            width: 100px;

        }

{% endblock %}