{% extends "base.html" %}

{% block title %}
    Path to books, Path to happy
{% endblock %}

{% block content %}
    <div class="demo-grid-ruler mdl-grid" id="feedlistoutbox">
        <div class="mdl-cell mdl-cell--8-col" id="feedlist">
            <style>
                .demo-card-square.mdl-card {
                    width: 350px;
                    height: 350px;
                }
                .demo-card-square > .mdl-card__title {
                    color: #fff;
                    /*background:"{{ object.image.url }}" bottom right 15% no-repeat #46B6AC;*/
                }
                .feed_photo{
                    width: auto;
                    height: auto;
                    max-width: 300px;
                    max-height: 300px;
                }
            {% for object in object_list %}

            </style>

                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        {{object.author}}
                    </div>

                    <div class="mdl-card__supporting-text">
                        <img class="feed_photo" src="{{ object.image.url }}">
                    </div>
                    <div class="mdl-card__supporting-text">
                        {{object.text}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">댓글달기</a>

                        {% if user == object.author %}  <!--자신이 작성한 글만 수정, 삭제가 가능하다-->
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           href="{{ object.isbn }}/update/{{ object.id }}">수정</a>
                        <form method="post" action="{{ object.isbn }}/delete/{{ object.id }}" id="feed_delete">
                            {% csrf_token %}
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           onclick="return confirm('삭제하시겠습니까?')" type="submit">삭제</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <br>
            {% endfor %}

        </div>

    <div class="mdl-cell mdl-cell--2-col" id="dummyCol"></div>
    <div class="mdl-cell mdl-cell--2-col" id="bookInfo"></div>

    </div>
    <style>
            #feedlist{
            }
            #feedlistoutbox{
                width: 640px;
                background-color: rgba(0, 0, 0, 0.5);

            }
            #feed_delete{
                display: inline;
            }
        </style>

{% endblock %}