{% extends "base.html" %}

{% block title %} Happy Reading for Everyone {% endblock %}

{% block content %}

    <form method="POST" action="{% url 'accounts:signup' %}">
        <section class="login">
            <label for="username"> 아이디 : </label>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="username" type="text" id="username">
                <label class="mdl-textfield__label" for="username">아이디...</label>
            </div>
            <br>
            <label for="password"> 비밀번호: </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="password1" type="password" id="password">
                <label class="mdl-textfield__label" for="password">비밀번호...</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <br>
            <label for="password"> 비밀번호 확인: </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="password2" type="password" id="password">
                <label class="mdl-textfield__label" for="password">비밀번호...</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
        </section>
        <section class="signup_submission">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
                가입하기
            </button>
        </section>
    </form>


{% endblock %}