{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Happy Reading for Everyone</title>
        <link href="{% static 'domain/style.css' %}" type="text/css" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
   </head>
    
    <body>
        <header>
            <h1>책 통 행</h1>
        </header>
<!--
        <div id="backgroundImg">
            <img src="./background.JPG" alt="MoonSong Background Image"/>
        </div>
    -->
        <!--form action="submission.html" method="GET"-->
        {% if user.is_authenticated %}
            <section class="login">
                <label for="bookname"> 책 이름을 검색하세요 : </label>
                <input id="bookname" name="bookname" type="text">
            </section>
        {% else %}
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <section class="login">
                <label for="username"> 아이디 : </label>
                <input id="username" name="username" type="text">
                <br>
                <label for="password"> 비밀번호: </label>
                <input id="password" name="password" type="password">
           </section>
           <section class="login_submission">
                <input type="submit" value="로그인">
           </section>
        </form>    

        <section class="signup">
            <a href="./signup" target="_blank">아직 회원이 아니신가요?</a>
        </section>
        {% endif %}

    </body>

</html>