{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Happy Reading for Everyone</title>
   </head>
    
    <body>
        <div>
            <h1>책 통 행</h1>
        </div>

        <div>
            <img src={% static "background.JPG" %} alt="MoonSong Background Image"/>
        </div>

        <!--form action="submission.html" method="POST"-->
        <form>
          <section class="login">
              <label for="userid"> 아이디: </label>
              <input id="userid" name=userid type="text">
              <br>
              <label for="userpw"> 비밀번호: </label>
              <input id="userpw" name="userpw" type="password">
          </section>
          <section class="submission">
              <input type="submit" value="로그인">
          </section>
        </form>    
        <div>
            <a href="./signup.html" target="_blank">아직 회원이 아니신가요?</a>
        </div> 

    </body>

</html>