{% extends "base.html" %}

{% block title %}
    Path to books, Path to happy
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div id="bookSearchingPage" >
            <section class="bookSearching">
                <h2> 책을 검색하세요 </h2>
                <div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="bookSearch">
                            <i class="material-icons">search</i>
                        </label>
                        <div class=mdl-textfield__expandable-holder>
                            <input class="mdl-textfield__input" type="text" id="bookSearch" onkeypress="if(event.keyCode==13){myKeyFunc();}">
                            <label class="mdl-textfield__label" for="sample-expandable"> Expandable Input</label>
                        </div>
                    </div>
                </div>
            </section>

        <style>
            .demo-card-wide.mdl-card {
              width: 512px;
            }

            .demo-card-wide > .mdl-card__title {
                display: inline;
                width: 240px;
                height: 176px;

              color: black;
              font-family: 'Song Myung', serif;
              background-repeat: no-repeat;
              background-size: cover;
              background-color: black;
            }
            .mdl-card__actions mdl-card--border> .mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect{
                text-align: right;
            }
            .mdl-card__actions mdl-card--border > .mdl-badge{
                text-align: left;
            }

            .demo-card-wide > .mdl-card__menu {
              color: #fff;
            }
            .bookList{
                width: 640px;
                margin: 0 auto;

            }

            .card-img{
                width: 180px;
            }
            #littleText{
                text-align: right;
                size: 15px;

            }


        </style>

    <div id="bookList" class="bookList">

        <div class="card mb-3" style="max-width: 640px;" id="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="" class="card-img" id="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="bookName">Card title</h5>
                        <p class="card-text" id="author"></p>
                        <p class="card-text" id="bookDetails">책 소개란</p>
                        <p class="card-text" id="littleText">
                            <a class="text-muted" id="feedLink" target="_self" href="https://getmdl.io/components/index.html#buttons-section">
                                <img src="/static/img/chat_black.png" alt="책통하기" width="30px" height="30px">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div id =where_the_searched_book_listed>
        <!--책 검색 후 리스트들이 for문 반복을 통해 여기에 추가될 것-->
        </div>

    {% else %}
    <form method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <div class="login" id="login_div">
            <label for="username"> 아이디 : </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="username" type="text" id="username">
                <label class="mdl-textfield__label" for="username">아이디...</label>
            </div>
            <br>
            <label for="password"> 비밀번호: </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="password" type="password" id="password">
                <label class="mdl-textfield__label" for="password">비밀번호...</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
        </div>
       <br>
       <section class="login_submission">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
            로그인
          </button>
       </section>
    </form>


    <br>
    <section class="signup">
        <a href="{% url 'accounts:signup' %}" >아직 회원이 아니신가요?</a>
    </section>
    {% endif %}

    <script type="text/javascript" src="static/js/request.js"></script>

{% endblock %}